---
import '@fontsource-variable/inter';
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import { Avatar } from '../components/avatar';
import projects from '../project-data';
---

<Layout title='Jin Jin Heipler'>
  <div
    slot='hero-content'
    class='hero-content items-center justify-center lg:flex-row w-full h-1/2'
  >
    <div class='flex flex-col items-start'>
      <h1
        class="font-['Inter_Variable'] font-bold text-white text-5xl flex-none w-auto"
      >
        Hi, I'm Jin Jin
      </h1>
      <h2 class='text-white text-3xl mt-6'>
        I'm a <span class='text-cyan-400'>front-end developer</span> with a
        passion for combining <span class='text-cyan-400'>code</span> and <span
          class='text-cyan-400'>creativity</span
        > to solve problems.
      </h2>
    </div>
    <Avatar client:visible />
  </div>
  <main class='bg-[#1E293B] mt-8'>
    <article class='flex flex-row items-start justify-evenly pt-20'>
      <svg
        width='312'
        height='217'
        viewBox='0 0 312 217'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <circle cx='72.5' cy='72.5' r='72.5' fill='#BB96EA' fill-opacity='0.5'
        ></circle>
        <circle cx='131.5' cy='144.5' r='72.5' fill='#22D3EE' fill-opacity='0.5'
        ></circle>
        <path
          d='M101.371 109H96.9446L106.89 81.3636H111.707L121.653 109H117.227L109.413 86.3835H109.197L101.371 109ZM102.113 98.1776H116.471V101.686H102.113V98.1776ZM125.644 109V81.3636H129.678V91.6328H129.921C130.155 91.201 130.493 90.7017 130.933 90.1349C131.374 89.5682 131.986 89.0734 132.769 88.6506C133.551 88.2188 134.586 88.0028 135.872 88.0028C137.546 88.0028 139.039 88.4257 140.352 89.2713C141.666 90.117 142.696 91.3359 143.443 92.9283C144.198 94.5206 144.576 96.4368 144.576 98.6768C144.576 100.917 144.203 102.838 143.456 104.439C142.709 106.031 141.684 107.259 140.379 108.123C139.075 108.978 137.586 109.405 135.913 109.405C134.653 109.405 133.623 109.193 132.823 108.771C132.031 108.348 131.41 107.853 130.96 107.286C130.511 106.719 130.164 106.216 129.921 105.775H129.584V109H125.644ZM129.597 98.6364C129.597 100.094 129.809 101.371 130.232 102.469C130.655 103.566 131.266 104.425 132.067 105.046C132.868 105.658 133.848 105.964 135.009 105.964C136.214 105.964 137.222 105.644 138.031 105.006C138.841 104.358 139.453 103.481 139.867 102.374C140.289 101.268 140.501 100.022 140.501 98.6364C140.501 97.2689 140.294 96.041 139.88 94.9524C139.475 93.8639 138.864 93.0047 138.045 92.375C137.235 91.7453 136.223 91.4304 135.009 91.4304C133.839 91.4304 132.85 91.7318 132.04 92.3345C131.239 92.9373 130.632 93.7784 130.218 94.858C129.804 95.9375 129.597 97.197 129.597 98.6364ZM157.838 109.418C155.895 109.418 154.199 108.973 152.75 108.082C151.302 107.192 150.177 105.946 149.377 104.344C148.576 102.743 148.176 100.872 148.176 98.7308C148.176 96.5807 148.576 94.7005 149.377 93.0902C150.177 91.4799 151.302 90.2294 152.75 89.3388C154.199 88.4482 155.895 88.0028 157.838 88.0028C159.781 88.0028 161.477 88.4482 162.925 89.3388C164.373 90.2294 165.498 91.4799 166.299 93.0902C167.099 94.7005 167.5 96.5807 167.5 98.7308C167.5 100.872 167.099 102.743 166.299 104.344C165.498 105.946 164.373 107.192 162.925 108.082C161.477 108.973 159.781 109.418 157.838 109.418ZM157.851 106.031C159.111 106.031 160.154 105.698 160.982 105.033C161.81 104.367 162.421 103.481 162.817 102.374C163.222 101.268 163.424 100.049 163.424 98.7173C163.424 97.3949 163.222 96.1804 162.817 95.0739C162.421 93.9583 161.81 93.0632 160.982 92.3885C160.154 91.7138 159.111 91.3764 157.851 91.3764C156.583 91.3764 155.53 91.7138 154.694 92.3885C153.866 93.0632 153.25 93.9583 152.845 95.0739C152.449 96.1804 152.251 97.3949 152.251 98.7173C152.251 100.049 152.449 101.268 152.845 102.374C153.25 103.481 153.866 104.367 154.694 105.033C155.53 105.698 156.583 106.031 157.851 106.031ZM185.133 100.404V88.2727H189.182V109H185.214V105.411H184.998C184.522 106.517 183.757 107.439 182.704 108.177C181.661 108.906 180.361 109.27 178.805 109.27C177.473 109.27 176.295 108.978 175.269 108.393C174.252 107.799 173.452 106.922 172.867 105.761C172.291 104.601 172.003 103.166 172.003 101.457V88.2727H176.038V100.971C176.038 102.383 176.43 103.508 177.212 104.344C177.995 105.181 179.011 105.599 180.262 105.599C181.018 105.599 181.769 105.411 182.515 105.033C183.271 104.655 183.896 104.084 184.391 103.319C184.895 102.554 185.142 101.583 185.133 100.404ZM204.278 88.2727V91.5114H192.957V88.2727H204.278ZM195.993 83.3068H200.028V102.914C200.028 103.697 200.145 104.286 200.379 104.682C200.612 105.069 200.914 105.334 201.283 105.478C201.661 105.613 202.07 105.68 202.511 105.68C202.835 105.68 203.118 105.658 203.361 105.613C203.604 105.568 203.793 105.532 203.928 105.505L204.656 108.838C204.422 108.928 204.089 109.018 203.658 109.108C203.226 109.207 202.686 109.261 202.038 109.27C200.977 109.288 199.987 109.099 199.07 108.703C198.152 108.307 197.41 107.696 196.843 106.868C196.276 106.04 195.993 105.001 195.993 103.751V83.3068ZM218.798 109V88.2727H222.671V91.6463H222.928C223.359 90.5038 224.066 89.6132 225.046 88.9744C226.027 88.3267 227.201 88.0028 228.568 88.0028C229.954 88.0028 231.114 88.3267 232.05 88.9744C232.994 89.6222 233.692 90.5128 234.141 91.6463H234.357C234.852 90.5398 235.639 89.6581 236.719 89.0014C237.798 88.3357 239.085 88.0028 240.578 88.0028C242.458 88.0028 243.992 88.5921 245.18 89.7706C246.376 90.9491 246.974 92.7259 246.974 95.1009V109H242.94V95.4787C242.94 94.0753 242.557 93.0587 241.793 92.429C241.028 91.7992 240.115 91.4844 239.053 91.4844C237.74 91.4844 236.719 91.8892 235.99 92.6989C235.261 93.4995 234.897 94.5296 234.897 95.7891V109H230.876V95.2223C230.876 94.0978 230.525 93.1937 229.823 92.5099C229.121 91.8262 228.208 91.4844 227.084 91.4844C226.319 91.4844 225.613 91.6868 224.965 92.0916C224.326 92.4875 223.809 93.0407 223.413 93.7514C223.027 94.4621 222.833 95.2853 222.833 96.2209V109H218.798ZM261.316 109.418C259.273 109.418 257.515 108.982 256.039 108.109C254.573 107.228 253.439 105.991 252.639 104.398C251.847 102.797 251.451 100.921 251.451 98.7713C251.451 96.6482 251.847 94.777 252.639 93.1577C253.439 91.5384 254.555 90.2744 255.985 89.3658C257.425 88.4571 259.107 88.0028 261.032 88.0028C262.202 88.0028 263.335 88.1963 264.433 88.5831C265.53 88.9699 266.515 89.5772 267.388 90.4048C268.261 91.2325 268.949 92.3075 269.453 93.63C269.956 94.9434 270.208 96.5402 270.208 98.4205V99.8509H253.732V96.8281H266.254C266.254 95.7666 266.039 94.8265 265.607 94.0078C265.175 93.1802 264.568 92.5279 263.785 92.0511C263.011 91.5743 262.103 91.3359 261.059 91.3359C259.926 91.3359 258.936 91.6148 258.09 92.1726C257.254 92.7214 256.606 93.4411 256.147 94.3317C255.697 95.2133 255.472 96.1714 255.472 97.206V99.5675C255.472 100.953 255.715 102.131 256.201 103.103C256.696 104.075 257.384 104.817 258.266 105.33C259.147 105.833 260.177 106.085 261.356 106.085C262.121 106.085 262.818 105.977 263.448 105.761C264.077 105.536 264.622 105.204 265.08 104.763C265.539 104.322 265.89 103.778 266.133 103.13L269.952 103.818C269.646 104.943 269.097 105.928 268.306 106.773C267.523 107.61 266.538 108.262 265.35 108.73C264.172 109.189 262.827 109.418 261.316 109.418Z'
          fill='white'></path>
      </svg>
      <section class='w-1/2'>
        <p class="text-[#E5E7EB] font-['Inter_Variable'] text-base mb-8">
          With a Bachelor of Science in New Media Interactive Development from
          the Rochester Institute of Technology and nearly 3 years of experience
          as a front-end developer, I bring both technical knowledge and a
          passion for problem-solving to every project. I love transforming
          ideas from simple wireframes and mock-ups into clean, accessible
          user-friendly interfaces.
        </p>
        <p class="text-[#E5E7EB] font-['Inter_Variable'] text-base mb-8">
          I'm a firm believer that beautiful design and a seamless user
          experience are crucial for any successful application. My mission is
          to ensure that the needs of the users are met, while also delivering a
          product that is both functional and visually appealing.
        </p>
        <p class="text-[#E5E7EB] font-['Inter_Variable'] text-base mb-8">
          Currently, I am a Front-End Developer at <a
            href='https://linksquares.com/'
            aria-label='Link to LinkSquares company website'
            class='text-[#BB96EA] hover:underline'>LinkSquares</a
          >, where I am constantly collaborating cross-functionally with
          designers, product managers, and other engineers to build interfaces
          that simultaneously provide the highest quality user experience and
          align with the goals of the business and our products.
        </p>
        <section>
          <h3 class='text-[#E5E7EB] text-xl font-semibold mb-6'>Experience:</h3>
          <ul>
            {
              [
                {
                  title: 'Software Engineer I',
                  company: 'LinkSquares',
                  date: 'May 2022 - Present',
                },
                {
                  title: 'Junior Front-End Developer',
                  company: 'Booz Allen Hamilton',
                  date: 'July 2021 - May 2022',
                },
                {
                  title: 'Software Engineer Intern',
                  company: 'Constant Contact',
                  date: 'June 2020 - August 2020',
                },
                {
                  title: 'Enterprise Technology Development Intern',
                  company: 'MassMutual',
                  date: 'May 2019 - August 2019',
                },
              ].map(({ title, company, date }) => (
                <li class='list-inside flex flex-col text-[#E5E7EB] text-base mb-6'>
                  <span class='font-semibold mb-1 text-lg'>{title}</span>
                  <span class='font-light'>
                    {company} | {date}
                  </span>
                </li>
              ))
            }
          </ul>
        </section>
      </section>
    </article>
    <article class='flex flex-row items-start justify-evenly pt-20'>
      <section class='w-1/2 inline-grid grid-cols-2 gap-10'>
        {
          projects.map(({ title, body, slug, chips }) => (
          <Card title={title} body={body} slug={slug} chips={chips || []} />
          ))
        }
      </section>
      <svg width="266" height="218" viewBox="0 0 266 218" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="193.5" cy="72.5" r="72.5" fill="#22D3EE" fill-opacity="0.5"/>
        <circle cx="142.5" cy="145.5" r="72.5" fill="#BB96EA" fill-opacity="0.5"/>
        <path d="M3.03622 82.3636H8.09659L16.8949 103.847H17.2188L26.017 82.3636H31.0774V110H27.1101V90.0014H26.8537L18.7031 109.96H15.4105L7.25994 89.9879H7.00355V110H3.03622V82.3636ZM39.3663 117.773C38.7636 117.773 38.2148 117.723 37.72 117.624C37.2252 117.534 36.8564 117.435 36.6135 117.327L37.585 114.021C38.3227 114.219 38.9795 114.305 39.5552 114.278C40.131 114.251 40.6393 114.035 41.0801 113.63C41.5299 113.225 41.9257 112.564 42.2676 111.646L42.7669 110.27L35.1831 89.2727H39.5012L44.7505 105.358H44.9664L50.2157 89.2727H54.5474L46.0055 112.766C45.6097 113.846 45.1059 114.759 44.4941 115.506C43.8824 116.261 43.1537 116.828 42.3081 117.206C41.4624 117.584 40.4818 117.773 39.3663 117.773ZM72.8896 110L66.7901 89.2727H70.9599L75.0217 104.494H75.2241L79.2994 89.2727H83.4691L87.5174 104.427H87.7198L91.7546 89.2727H95.9244L89.8384 110H85.7227L81.5124 95.0348H81.2021L76.9918 110H72.8896ZM107.853 110.418C105.91 110.418 104.214 109.973 102.766 109.082C101.318 108.192 100.193 106.946 99.3924 105.344C98.5917 103.743 98.1914 101.872 98.1914 99.7308C98.1914 97.5807 98.5917 95.7005 99.3924 94.0902C100.193 92.4799 101.318 91.2294 102.766 90.3388C104.214 89.4482 105.91 89.0028 107.853 89.0028C109.797 89.0028 111.492 89.4482 112.941 90.3388C114.389 91.2294 115.514 92.4799 116.314 94.0902C117.115 95.7005 117.515 97.5807 117.515 99.7308C117.515 101.872 117.115 103.743 116.314 105.344C115.514 106.946 114.389 108.192 112.941 109.082C111.492 109.973 109.797 110.418 107.853 110.418ZM107.867 107.031C109.126 107.031 110.17 106.698 110.998 106.033C111.825 105.367 112.437 104.481 112.833 103.374C113.238 102.268 113.44 101.049 113.44 99.7173C113.44 98.3949 113.238 97.1804 112.833 96.0739C112.437 94.9583 111.825 94.0632 110.998 93.3885C110.17 92.7138 109.126 92.3764 107.867 92.3764C106.598 92.3764 105.546 92.7138 104.709 93.3885C103.882 94.0632 103.265 94.9583 102.86 96.0739C102.465 97.1804 102.267 98.3949 102.267 99.7173C102.267 101.049 102.465 102.268 102.86 103.374C103.265 104.481 103.882 105.367 104.709 106.033C105.546 106.698 106.598 107.031 107.867 107.031ZM122.019 110V89.2727H125.919V92.5653H126.135C126.513 91.4498 127.178 90.5727 128.132 89.9339C129.095 89.2862 130.183 88.9624 131.398 88.9624C131.649 88.9624 131.946 88.9714 132.288 88.9893C132.639 89.0073 132.913 89.0298 133.111 89.0568V92.9162C132.949 92.8712 132.662 92.8217 132.248 92.7678C131.834 92.7048 131.42 92.6733 131.006 92.6733C130.053 92.6733 129.202 92.8757 128.456 93.2805C127.718 93.6764 127.133 94.2296 126.702 94.9403C126.27 95.642 126.054 96.4427 126.054 97.3423V110H122.019ZM140.314 102.969L140.287 98.044H140.989L149.247 89.2727H154.078L144.659 99.2585H144.025L140.314 102.969ZM136.603 110V82.3636H140.638V110H136.603ZM149.692 110L142.271 100.149L145.05 97.3288L154.645 110H149.692Z" fill="white"/>
        </svg>
    </article>
  </main>
</Layout>
